
<footer class="footer">
  <div class="sContainer-fluid">

    <div class="footer__inner">

      <div class="footer__logo">
        <a class="logo logo--footer" href="">
          <img class="logo__img" src="assets/img/logo-footer.svg" width="91" height="37"  alt="Логотип OZNA">
        </a><!--/.logo-->
      </div>

      <ul class="footer__menu menu menu--footer">
        <li class="menu__item">
          <a href="" class="menu__link">Главная</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">Показатели дву</a>
        </li>
        <li class="menu__item">
          <a href="" class="menu__link">Редактировать</a>
        </li>
      </ul><!--/.menu-->

    </div><!--/.footer__inner-->

  </div><!--/.container-->
</footer><!--/.footer-->
