<header class="header">
  <div class="sContainer">

    <div class="header__inner">

      <div class="header__logo">
        <a class="logo" href="">
          <img class="logo__img" src="assets/img/logo.svg" width="180" height="54" alt="Логотип OZNA">
        </a><!--/.logo-->
      </div>

      <nav class="header__navigation navigation">

        <menu class="navigation__menu menu">
          <li class="menu__item">
            <a href="" class="menu__link">Главная</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Показатели дву</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Редактировать</a>
          </li>
        </menu><!--/.menu-->

        <div class="navigation__options options">
          <button class="options__burger burger" type="button" title="Открыть инструменты"></button>

          <ul class="options__list">
            <li class="options__item">
              <button class="options__btn btn" type="button" title="Фильтр показателей">
                <svg class="btn__svg" width="32" height="32" aria-hidden="true">
                  <use xlink:href="assets/img/sprite/sprite.svg#column-icon"/>
                </svg>
              </button>
            </li>
            <li class="options__item">
              <button class="options__btn btn" type="button" title="Быстрый доступ">
                <svg class="btn__svg" width="32" height="32" aria-hidden="true">
                  <use xlink:href="assets/img/sprite/sprite.svg#rocket-icon"/>
                </svg>
              </button>
            </li>
            <li class="options__item">
              <button class="options__btn btn" type="button" title="Сверка показателей">
                <svg class="btn__svg" width="32" height="32" aria-hidden="true">
                  <use xlink:href="assets/img/sprite/sprite.svg#analytics-icon"/>
                </svg>
              </button>
            </li>
          </ul>
        </div>

      </nav><!--/.navigation-->

    </div><!--/.header__inner-->

  </div><!--/.container-->
</header><!--/.header-->
