<header class="header">
  <div class="sContainer">

    <div class="header__inner">

      <div class="header__logo">
        <a class="logo" href="">
          <img class="logo__img" src="assets/img/logo.svg" width="180" height="54" alt="Логотип OZNA">
        </a><!--/.logo-->
      </div>


      <div class="header__navigation navigation">

        <a class="navigation__logout logout" href="">Выход</a>

      </div><!--/.navigation-->

    </div><!--/.header__inner-->

  </div><!--/.container-->
</header><!--/.header-->
