<header class="header">
  <div class="sContainer-fluid">

    <div class="header__inner">

      <div class="header__logo">
        <a class="logo" href="">
          <img class="logo__img" src="assets/img/logo.svg" width="160" height="48" alt="Логотип OZNA">
        </a><!--/.logo-->
      </div>

      <nav class="header__navigation navigation">

        <menu class="navigation__menu menu">
          <li class="menu__item">
            <a href="" class="menu__link">Главная</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Показатели дву</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link">Редактировать</a>
          </li>
        </menu><!--/.menu-->

        <div class="navigation__options options options--edit">
          <button class="options__burger burger burger--disabled" type="button" title="Инструменты доступны только в режиме просмотра"></button>
        </div>

      </nav><!--/.navigation-->

    </div><!--/.header__inner-->

  </div><!--/.container-->
</header><!--/.header-->
