<div class="content">
  <div class="sContainer-fluid">

    <div class="content__inner">

      <div class="content__title title">Показатели дву</div>

      <section class="content__box">

        <h2 class="content__subtitle title">Основные</h2>

        <div class="table">

          <div class="table__header">

            <div class="indicator indicator--header">
              <div class="indicator__unit">Цель</div>

              <div class="indicator__value">Холдинг</div>
              <div class="indicator__value">ОЗНА-ИС</div>
              <div class="indicator__value">ОЗНА+</div>
              <div class="indicator__value">ОЗНА-инжиниринг</div>
              <div class="indicator__value">АК ОЗНА</div>
            </div>

          </div><!--/.table__header-->

          <div class="table__body">

            <!-- Входящий денежный поток - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Входящий денежный поток</h3>

              <!-- год - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Год</div>

                <div class="indicator__name">Цель</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <!-- холдинг/год - end -->

                <!-- озна-ис/год - start -->
                <div class="indicator__value">6 128 508</div>
                <div class="indicator__value">5 697 910</div>
                <div class="indicator__value">-430 598</div>
                <!-- озна-ис/год - end -->

                <!-- озна+/год - start -->
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">6 152 724</div>
                <div class="indicator__value">-4 810 725</div>
                <!-- озна+/год - end -->

                <!-- озна-инжиниринг/год - start -->
                <div class="indicator__value">7 304 128</div>
                <div class="indicator__value">7 304 128</div>
                <div class="indicator__value">-2 907 316</div>
                <!-- озна-инжиниринг/год - end -->

                <!-- ак озна/год - start -->
                <div class="indicator__value">4 272 553</div>
                <div class="indicator__value">4 272 553</div>
                <div class="indicator__value">4 272 553</div>
                <!-- ак озна/год - end -->
              </div>
              <!-- год - end -->

              <!-- квартал - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Квартал</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/квартал - start -->
                <div class="indicator__value">7 031 957</div>
                <div class="indicator__value">1 773 448</div>
                <div class="indicator__value">963 449</div>
                <!-- холдинг/квартал - end -->

                <!-- озна-ис/квартал - start -->
                <div class="indicator__value">128 508</div>
                <div class="indicator__value">697 910</div>
                <div class="indicator__value">-30 598</div>
                <!-- озна-ис/квартал - end -->

                <!-- озна+/квартал - start -->
                <div class="indicator__value">1 963 449</div>
                <div class="indicator__value">6 152 724</div>
                <div class="indicator__value">-4 810 725</div>
                <!-- озна+/квартал - end -->

                <!-- озна-инжиниринг/квартал - start -->
                <div class="indicator__value">304 128</div>
                <div class="indicator__value">304 128</div>
                <div class="indicator__value">-907 316</div>
                <!-- озна-инжиниринг/квартал - end -->

                <!-- ак озна/квартал - start -->
                <div class="indicator__value">272 553</div>
                <div class="indicator__value">272 553</div>
                <div class="indicator__value">272 553</div>
                <!-- ак озна/квартал - end -->
              </div>
              <!-- квартал - end -->

              <!-- месяц - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Месяц</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/месяц - start -->
                <div class="indicator__value">1 456 632</div>
                <div class="indicator__value">291 564</div>
                <div class="indicator__value">-1 165 068</div>
                <!-- холдинг/месяц - end -->

                <!-- озна-ис/месяц - start -->
                <div class="indicator__value">897 564</div>
                <div class="indicator__value">-273 410</div>
                <div class="indicator__value">-624 154</div>
                <!-- озна-ис/месяц - end -->

                <!-- озна+/месяц - start -->
                <div class="indicator__value">414 068</div>
                <div class="indicator__value">18 154</div>
                <div class="indicator__value">-395 914</div>
                <!-- озна+/месяц - end -->

                <!-- озна-инжиниринг/месяц - start -->
                <div class="indicator__value">176 505</div>
                <div class="indicator__value">15 017</div>
                <div class="indicator__value">-161 488</div>
                <!-- озна-инжиниринг/месяц - end -->

                <!-- ак озна/месяц - start -->
                <div class="indicator__value">387 563</div>
                <div class="indicator__value">3 137</div>
                <div class="indicator__value">-384 426</div>
                <!-- ак озна/месяц - end -->
              </div>
              <!-- месяц - end -->

            </article>
            <!-- Входящий денежный поток - end -->

            <!-- Чистый денежный поток - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Чистый денежный поток</h3>

              <!-- год - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Год</div>

                <div class="indicator__name">Цель</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <!-- холдинг/год - end -->

                <!-- озна-ис/год - start -->
                <div class="indicator__value">6 128 508</div>
                <div class="indicator__value">5 697 910</div>
                <div class="indicator__value">-430 598</div>
                <!-- озна-ис/год - end -->

                <!-- озна+/год - start -->
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">6 152 724</div>
                <div class="indicator__value">-4 810 725</div>
                <!-- озна+/год - end -->

                <!-- озна-инжиниринг/год - start -->
                <div class="indicator__value">7 304 128</div>
                <div class="indicator__value">7 304 128</div>
                <div class="indicator__value">-2 907 316</div>
                <!-- озна-инжиниринг/год - end -->

                <!-- ак озна/год - start -->
                <div class="indicator__value">4 272 553</div>
                <div class="indicator__value">4 272 553</div>
                <div class="indicator__value">4 272 553</div>
                <!-- ак озна/год - end -->
              </div>
              <!-- год - end -->

              <!-- квартал - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Квартал</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/квартал - start -->
                <div class="indicator__value">7 031 957</div>
                <div class="indicator__value">1 773 448</div>
                <div class="indicator__value">963 449</div>
                <!-- холдинг/квартал - end -->

                <!-- озна-ис/год - start -->
                <div class="indicator__value">128 508</div>
                <div class="indicator__value">697 910</div>
                <div class="indicator__value">-30 598</div>
                <!-- озна-ис/квартал - end -->

                <!-- озна+/квартал - start -->
                <div class="indicator__value">1 963 449</div>
                <div class="indicator__value">6 152 724</div>
                <div class="indicator__value">-4 810 725</div>
                <!-- озна+/квартал - end -->

                <!-- озна-инжиниринг/квартал - start -->
                <div class="indicator__value">304 128</div>
                <div class="indicator__value">304 128</div>
                <div class="indicator__value">-907 316</div>
                <!-- озна-инжиниринг/квартал - end -->

                <!-- ак озна/квартал - start -->
                <div class="indicator__value">272 553</div>
                <div class="indicator__value">272 553</div>
                <div class="indicator__value">272 553</div>
                <!-- ак озна/квартал - end -->
              </div>
              <!-- квартал - end -->

              <!-- месяц - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Месяц</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/месяц - start -->
                <div class="indicator__value">1 456 632</div>
                <div class="indicator__value">291 564</div>
                <div class="indicator__value">-1 165 068</div>
                <!-- холдинг/месяц - end -->

                <!-- озна-ис/месяц - start -->
                <div class="indicator__value">897 564</div>
                <div class="indicator__value">-273 410</div>
                <div class="indicator__value">-624 154</div>
                <!-- озна-ис/месяц - end -->

                <!-- озна+/месяц - start -->
                <div class="indicator__value">414 068</div>
                <div class="indicator__value">18 154</div>
                <div class="indicator__value">-395 914</div>
                <!-- озна+/месяц - end -->

                <!-- озна-инжиниринг/месяц - start -->
                <div class="indicator__value">176 505</div>
                <div class="indicator__value">15 017</div>
                <div class="indicator__value">-161 488</div>
                <!-- озна-инжиниринг/месяц - end -->

                <!-- ак озна/месяц - start -->
                <div class="indicator__value">387 563</div>
                <div class="indicator__value">3 137</div>
                <div class="indicator__value">-384 426</div>
                <!-- ак озна/месяц - end -->
              </div>
              <!-- месяц - end -->

            </article>
            <!-- Чистый денежный поток - end -->

            <!-- Чистый долг - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Чистый долг</h3>

              <!-- год - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Год</div>

                <div class="indicator__name">Цель</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <!-- холдинг/год - end -->

                <!-- озна-ис/год - start -->
                <div class="indicator__value">6 128 508</div>
                <div class="indicator__value">5 697 910</div>
                <div class="indicator__value">-430 598</div>
                <!-- озна-ис/год - end -->

                <!-- озна+/год - start -->
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">6 152 724</div>
                <div class="indicator__value">-4 810 725</div>
                <!-- озна+/год - end -->

                <!-- озна-инжиниринг/год - start -->
                <div class="indicator__value">7 304 128</div>
                <div class="indicator__value">7 304 128</div>
                <div class="indicator__value">-2 907 316</div>
                <!-- озна-инжиниринг/год - end -->

                <!-- ак озна/год - start -->
                <div class="indicator__value">4 272 553</div>
                <div class="indicator__value">4 272 553</div>
                <div class="indicator__value">4 272 553</div>
                <!-- ак озна/год - end -->
              </div>
              <!-- год - end -->

              <!-- месяц - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Месяц</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>

                <!-- холдинг/месяц - start -->
                <div class="indicator__value">1 456 632</div>
                <div class="indicator__value">291 564</div>
                <!-- холдинг/месяц - end -->

                <!-- озна-ис/месяц - start -->
                <div class="indicator__value">897 564</div>
                <div class="indicator__value">-273 410</div>
                <!-- озна-ис/месяц - end -->

                <!-- озна+/месяц - start -->
                <div class="indicator__value">414 068</div>
                <div class="indicator__value">18 154</div>
                <!-- озна+/месяц - end -->

                <!-- озна-инжиниринг/месяц - start -->
                <div class="indicator__value">176 505</div>
                <div class="indicator__value">15 017</div>
                <!-- озна-инжиниринг/месяц - end -->

                <!-- ак озна/месяц - start -->
                <div class="indicator__value">387 563</div>
                <div class="indicator__value">3 137</div>
                <!-- ак озна/месяц - end -->
              </div>
              <!-- месяц - end -->

            </article>
            <!-- Чистый долг - end -->

            <!-- Выручка - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Выручка</h3>

              <!-- год - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Год</div>

                <div class="indicator__name">Цель</div>
                <div class="indicator__name">Прогноз</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- холдинг/год - end -->

                <!-- озна-ис/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- озна-ис/год - end -->

                <!-- озна+/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- озна+/год - end -->

                <!-- озна-инжиниринг/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- озна-инжиниринг/год - end -->

                <!-- ак озна/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- ак озна/год - end -->
              </div>
              <!-- год - end -->

              <!-- месяц - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Месяц</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/месяц - start -->
                <div class="indicator__value">1 456 632</div>
                <div class="indicator__value">291 564</div>
                <div class="indicator__value">-1 165 068</div>
                <!-- холдинг/месяц - end -->

                <!-- озна-ис/месяц - start -->
                <div class="indicator__value">897 564</div>
                <div class="indicator__value">-273 410</div>
                <div class="indicator__value">-624 154</div>
                <!-- озна-ис/месяц - end -->

                <!-- озна+/месяц - start -->
                <div class="indicator__value">414 068</div>
                <div class="indicator__value">18 154</div>
                <div class="indicator__value">-395 914</div>
                <!-- озна+/месяц - end -->

                <!-- озна-инжиниринг/месяц - start -->
                <div class="indicator__value">176 505</div>
                <div class="indicator__value">15 017</div>
                <div class="indicator__value">-161 488</div>
                <!-- озна-инжиниринг/месяц - end -->

                <!-- ак озна/месяц - start -->
                <div class="indicator__value">387 563</div>
                <div class="indicator__value">3 137</div>
                <div class="indicator__value">-384 426</div>
                <!-- ак озна/месяц - end -->
              </div>
              <!-- месяц - end -->

            </article>
            <!-- Выручка - end -->

            <!-- Чистая прибыль - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Чистая прибыль</h3>

              <!-- год - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Год</div>

                <div class="indicator__name">Цель</div>
                <div class="indicator__name">Прогноз</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- холдинг/год - end -->

                <!-- озна-ис/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- озна-ис/год - end -->

                <!-- озна+/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- озна+/год - end -->

                <!-- озна-инжиниринг/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- озна-инжиниринг/год - end -->

                <!-- ак озна/год - start -->
                <div class="indicator__value">17 031 957</div>
                <div class="indicator__value">11 773 448</div>
                <div class="indicator__value">10 963 449</div>
                <div class="indicator__value">10 963 449</div>
                <!-- ак озна/год - end -->
              </div>
              <!-- год - end -->

              <!-- квартал - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Квартал</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>
                <div class="indicator__name">Отк</div>

                <!-- холдинг/квартал - start -->
                <div class="indicator__value">7 031 957</div>
                <div class="indicator__value">1 773 448</div>
                <div class="indicator__value">963 449</div>
                <!-- холдинг/квартал - end -->

                <!-- озна-ис/квартал - start -->
                <div class="indicator__value">128 508</div>
                <div class="indicator__value">697 910</div>
                <div class="indicator__value">-30 598</div>
                <!-- озна-ис/квартал - end -->

                <!-- озна+/квартал - start -->
                <div class="indicator__value">1 963 449</div>
                <div class="indicator__value">6 152 724</div>
                <div class="indicator__value">-4 810 725</div>
                <!-- озна+/квартал - end -->

                <!-- озна-инжиниринг/квартал - start -->
                <div class="indicator__value">304 128</div>
                <div class="indicator__value">304 128</div>
                <div class="indicator__value">-907 316</div>
                <!-- озна-инжиниринг/квартал - end -->

                <!-- ак озна/квартал - start -->
                <div class="indicator__value">272 553</div>
                <div class="indicator__value">272 553</div>
                <div class="indicator__value">272 553</div>
                <!-- ак озна/квартал - end -->
              </div>
              <!-- квартал - end -->

              <!-- месяц - start -->
              <div class="indicator__inner">
                <div class="indicator__unit">Месяц</div>

                <div class="indicator__name">План</div>
                <div class="indicator__name">Факт</div>

                <!-- холдинг/месяц - start -->
                <div class="indicator__value">1 456 632</div>
                <div class="indicator__value">291 564</div>
                <!-- холдинг/месяц - end -->

                <!-- озна-ис/месяц - start -->
                <div class="indicator__value">897 564</div>
                <div class="indicator__value">-273 410</div>
                <!-- озна-ис/месяц - end -->

                <!-- озна+/месяц - start -->
                <div class="indicator__value">414 068</div>
                <div class="indicator__value">18 154</div>
                <!-- озна+/месяц - end -->

                <!-- озна-инжиниринг/месяц - start -->
                <div class="indicator__value">176 505</div>
                <div class="indicator__value">15 017</div>
                <!-- озна-инжиниринг/месяц - end -->

                <!-- ак озна/месяц - start -->
                <div class="indicator__value">387 563</div>
                <div class="indicator__value">3 137</div>
                <!-- ак озна/месяц - end -->
              </div>
              <!-- месяц - end -->
            </article>
            <!-- Чистая прибыль - end -->

          </div><!--/.table__body-->

        </div><!--/.table-->

      </section><!--/.content__box-->

      <section class="content__box">

        <h2 class="content__subtitle title">Разное</h2>

        <div class="table">

          <div class="table__header">

            <div class="indicator indicator--header">
              <div class="indicator__unit">Цель</div>

              <div class="indicator__value">Холдинг</div>
              <div class="indicator__value">ОЗНА-ИС</div>
              <div class="indicator__value">ОЗНА+</div>
              <div class="indicator__value">ОЗНА-инжиниринг</div>
              <div class="indicator__value">АК ОЗНА</div>
            </div>

          </div><!--/.table__header-->

          <div class="table__body">

            <!-- Оборотный капитал - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Оборотный капитал</h3>

              <div class="indicator__name">Цель</div>
              <div class="indicator__name">Факт</div>
              <div class="indicator__name">Отк</div>
              <div class="indicator__name">Дни</div>

              <!-- холдинг/год - start -->
              <div class="indicator__value">17 031 957</div>
              <div class="indicator__value">11 773 448</div>
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">10</div>
              <!-- холдинг/год - end -->

              <!-- озна-ис/год - start -->
              <div class="indicator__value">6 128 508</div>
              <div class="indicator__value">5 697 910</div>
              <div class="indicator__value">-430 598</div>
              <div class="indicator__value">10</div>
              <!-- озна-ис/год - end -->

              <!-- озна+/год - start -->
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">6 152 724</div>
              <div class="indicator__value">-4 810 725</div>
              <div class="indicator__value">10</div>
              <!-- озна+/год - end -->

              <!-- озна-инжиниринг/год - start -->
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">-2 907 316</div>
              <div class="indicator__value">10</div>
              <!-- озна-инжиниринг/год - end -->

              <!-- ак озна/год - start -->
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">10</div>
              <!-- ак озна/год - end -->

            </article>
            <!-- Оборотный капитал - end -->

            <!-- Запасы - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Запасы</h3>

              <div class="indicator__name">Цель</div>
              <div class="indicator__name">Факт</div>
              <div class="indicator__name">Неликв</div>
              <div class="indicator__name">Дни</div>

              <!-- холдинг/год - start -->
              <div class="indicator__value">17 031 957</div>
              <div class="indicator__value">11 773 448</div>
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">10</div>
              <!-- холдинг/год - end -->

              <!-- озна-ис/год - start -->
              <div class="indicator__value">6 128 508</div>
              <div class="indicator__value">5 697 910</div>
              <div class="indicator__value">-430 598</div>
              <div class="indicator__value">10</div>
              <!-- озна-ис/год - end -->

              <!-- озна+/год - start -->
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">6 152 724</div>
              <div class="indicator__value">-4 810 725</div>
              <div class="indicator__value">10</div>
              <!-- озна+/год - end -->

              <!-- озна-инжиниринг/год - start -->
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">-2 907 316</div>
              <div class="indicator__value">10</div>
              <!-- озна-инжиниринг/год - end -->

              <!-- ак озна/год - start -->
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">10</div>
              <!-- ак озна/год - end -->

            </article>
            <!-- Запасы - end -->

            <!-- Торговая кт.задолженность - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Торговая кт.задолженность</h3>

              <div class="indicator__name">План</div>
              <div class="indicator__name">Факт</div>
              <div class="indicator__name">Дни</div>

              <!-- холдинг/год - start -->
              <div class="indicator__value">17 031 957</div>
              <div class="indicator__value">11 773 448</div>
              <div class="indicator__value">10</div>
              <!-- холдинг/год - end -->

              <!-- озна-ис/год - start -->
              <div class="indicator__value">6 128 508</div>
              <div class="indicator__value">5 697 910</div>
              <div class="indicator__value">10</div>
              <!-- озна-ис/год - end -->

              <!-- озна+/год - start -->
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">6 152 724</div>
              <div class="indicator__value">10</div>
              <!-- озна+/год - end -->

              <!-- озна-инжиниринг/год - start -->
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">10</div>
              <!-- озна-инжиниринг/год - end -->

              <!-- ак озна/год - start -->
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">10</div>
              <!-- ак озна/год - end -->

            </article>
            <!-- Торговая кт.задолженность - end -->

            <!-- Торговая кт.задолженность итого - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Торговая кт.задолженность ИТОГО</h3>

              <div class="indicator__name">Цель</div>
              <div class="indicator__name">Факт</div>
              <div class="indicator__name">Дни</div>

              <!-- холдинг/год - start -->
              <div class="indicator__value">17 031 957</div>
              <div class="indicator__value">11 773 448</div>
              <div class="indicator__value">10</div>
              <!-- холдинг/год - end -->

              <!-- озна-ис/год - start -->
              <div class="indicator__value">6 128 508</div>
              <div class="indicator__value">5 697 910</div>
              <div class="indicator__value">10</div>
              <!-- озна-ис/год - end -->

              <!-- озна+/год - start -->
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">6 152 724</div>
              <div class="indicator__value">10</div>
              <!-- озна+/год - end -->

              <!-- озна-инжиниринг/год - start -->
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">10</div>
              <!-- озна-инжиниринг/год - end -->

              <!-- ак озна/год - start -->
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">10</div>
              <!-- ак озна/год - end -->

            </article>
            <!-- Торговая кт.задолженность итого - end -->

            <!-- Авансы полученные - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Авансы полученные</h3>

              <div class="indicator__name">План</div>
              <div class="indicator__name">Факт</div>
              <div class="indicator__name">Дни</div>

              <!-- холдинг/год - start -->
              <div class="indicator__value">17 031 957</div>
              <div class="indicator__value">11 773 448</div>
              <div class="indicator__value">10</div>
              <!-- холдинг/год - end -->

              <!-- озна-ис/год - start -->
              <div class="indicator__value">6 128 508</div>
              <div class="indicator__value">5 697 910</div>
              <div class="indicator__value">10</div>
              <!-- озна-ис/год - end -->

              <!-- озна+/год - start -->
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">6 152 724</div>
              <div class="indicator__value">10</div>
              <!-- озна+/год - end -->

              <!-- озна-инжиниринг/год - start -->
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">10</div>
              <!-- озна-инжиниринг/год - end -->

              <!-- ак озна/год - start -->
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">10</div>
              <!-- ак озна/год - end -->

            </article>
            <!-- Авансы полученные - end -->

            <!-- Финансовые инструменты - start -->
            <article class="indicator">
              <h3 class="indicator__title title">Финансовые инструменты</h3>

              <div class="indicator__name">План</div>
              <div class="indicator__name">Факт</div>

              <!-- холдинг/год - start -->
              <div class="indicator__value">17 031 957</div>
              <div class="indicator__value">11 773 448</div>
              <!-- холдинг/год - end -->

              <!-- озна-ис/год - start -->
              <div class="indicator__value">6 128 508</div>
              <div class="indicator__value">5 697 910</div>
              <!-- озна-ис/год - end -->

              <!-- озна+/год - start -->
              <div class="indicator__value">10 963 449</div>
              <div class="indicator__value">6 152 724</div>
              <!-- озна+/год - end -->

              <!-- озна-инжиниринг/год - start -->
              <div class="indicator__value">7 304 128</div>
              <div class="indicator__value">7 304 128</div>
              <!-- озна-инжиниринг/год - end -->

              <!-- ак озна/год - start -->
              <div class="indicator__value">4 272 553</div>
              <div class="indicator__value">4 272 553</div>
              <!-- ак озна/год - end -->

            </article>
            <!-- Финансовые инструменты - end -->

          </div><!--/.table__body-->

        </div><!--/.table-->

      </section><!--/.content__box-->

    </div><!--/.content__inner-->

  </div><!--/.sContainer-fluid-->
</div><!--/.indicators-->
