
<section class="sModal sModal--option sModal--filter" id="modal-filter" data-sumbiot-overlay="false" data-sumbiot-overflow="false" data-sumbiot-modal="1">

  <h2 class="sModal__title">Фильтр показателей</h2>

  <div class="sModal__inner">

    <form class="sForm sForm--option" id="form-filter" method="POST">

      <h3 class="sForm__title title title--line">
        <span>Основные</span>
      </h3>

      <div class="sForm__inner">

        {{#each indicators.basic}}
        <label class="sForm__item sForm__item--checkbox">
          <input class="sForm__checkbox visually-hidden" type="checkbox" value="{{this.id}}">
          <span class="sForm__label">{{this.name}}</span>
        </label><!--/.sForm__item-->
        {{/each}}

      </div><!--/.sForm__inner-->

      <h3 class="sForm__title title title--line">
        <span>Разное</span>
      </h3>

      <div class="sForm__inner">

        {{#each indicators.other}}
        <label class="sForm__item sForm__item--checkbox">
          <input class="sForm__checkbox visually-hidden" type="checkbox" value="{{this.id}}">
          <span class="sForm__label">{{this.name}}</span>
        </label><!--/.sForm__item-->
        {{/each}}

      </div><!--/.sForm__inner-->

    </form><!--./sForm-->

  </div><!--./modal__inner-->

  <div class="sD-flex sF-justify-content-between sPr-16">
    <button class="sForm__button btn btn--green" type="submit" form="form-filter">Применить</button>
    <button class="sForm__button btn" type="reset" form="form-filter">Сбросить</button>
  </div><!--/.sForm__item-->

  <button type="button" class="sModal__close" data-sumbiot-modal-close title="Закрыть окно"></button>

</section><!--./modal-->

<section class="sModal sModal--option sModal--quick" id="modal-quick" data-sumbiot-overlay="false" data-sumbiot-overflow="false" data-sumbiot-modal="1">

  <h2 class="sModal__title">Быстрый доступ</h2>

  <div class="sModal__inner">

    <div class="sForm sForm--option " id="link-quick">

      <h3 class="sForm__title title title--line">
        <span>Основные</span>
      </h3>

      <div class="sForm__inner">

        {{#each indicators.basic}}
        <div class="sForm__item">
          <a class="sForm__link js-quick-result-modal" href="#" data-indicator-id="{{this.id}}">{{this.name}}</a>
        </div><!--/.sForm__item-->
        {{/each}}

      </div><!--/.sForm__inner-->


      <h3 class="sForm__title title title--line">
        <span>Разное</span>
      </h3>

      <div class="sForm__inner">

        {{#each indicators.other}}
        <div class="sForm__item">
          <a class="sForm__link js-quick-result-modal" href="#" data-indicator-id="{{this.id}}">{{this.name}}</a>
        </div><!--/.sForm__item-->
        {{/each}}

      </div><!--/.sForm__inner-->

    </div><!--./sForm-->

  </div><!--./modal__inner-->

  <button type="button" class="sModal__close" data-sumbiot-modal-close title="Закрыть окно"></button>

</section><!--./modal-->

<section class="sModal sModal--fixed sModal--quick-result" id="modal-quick-result" data-sumbiot-overlay="true" data-sumbiot-overflow="false" data-sumbiot-modal="1">

  <div class="sModal__inner">

    <div class="table">

      <div class="table__header">

        <div class="indicator indicator--header">
          <div class="indicator__unit js-unit">Цель</div>

          <div class="indicator__value yellow strong">Холдинг</div>
          <div class="indicator__value">ОЗНА-ИС</div>
          <div class="indicator__value yellow">ОЗНА+</div>
          <div class="indicator__value">ОЗНА-инжиниринг</div>
          <div class="indicator__value">АК ОЗНА</div>
        </div>

      </div><!--/.table__header-->

      <div class="table__body js-table-body">

      </div><!--/.table__body-->

    </div><!--/.table-->

    <div class="sModal__title js-title">январь 2023</div>

    <button type="button" class="sModal__close" data-sumbiot-modal-close title="Закрыть окно"></button>

  </div><!--./modal__inner-->

</section><!--./modal-->

<section class="sModal sModal--option sModal--collation" id="modal-collation" data-sumbiot-overlay="false" data-sumbiot-overflow="false" data-sumbiot-modal="1">

  <h2 class="sModal__title">Сверка показателей</h2>

  <div class="sModal__inner">

    <form class="sForm sForm--option" id="form-collation" method="POST">

      <h3 class="sForm__title title title--line sMb-20">
        <span>ГОД</span>
      </h3>

      <div class="sForm__inner">

        <div class="sForm__linear sForm__linear--v1">

          {{#each unit.year}}
          <label class="sForm__item sForm__item--checkbox">
            <input class="sForm__checkbox visually-hidden" type="checkbox" name="year" value="{{this}}">
            <span class="sForm__label sForm__label--ml sForm__label--fz">{{this}}</span>
          </label><!--/.sForm__item-->
          {{/each}}

        </div><!--/.sForm__linear-->

      </div><!--/.sForm__inner-->

      <h3 class="sForm__title title title--line sMb-20">
        <span>Месяц</span>
      </h3>

      <div class="sForm__inner">

        <div class="sForm__linear sForm__linear--v2">

          {{#each unit.month}}
          <label class="sForm__item sForm__item--checkbox">
            <input class="sForm__checkbox visually-hidden" type="checkbox" name="month" value="{{this.n}}">
            <span class="sForm__label sForm__label--ml sForm__label--fz sFz-14 sText-transform-none">{{this.name}}</span>
          </label><!--/.sForm__item-->
          {{/each}}

        </div><!--/.sForm__linear-->

      </div><!--/.sForm__inner-->

      <h3 class="sForm__title title title--line sMb-20">
        <span>Показатели</span>
      </h3>

      <div class="sForm__inner">

        <div class="sForm__linear sForm__linear--v3">

          {{#each indicators.basic}}
          <label class="sForm__item sForm__item--checkbox">
            <input class="sForm__checkbox visually-hidden" type="checkbox" name="indicator" value="{{this.id}}">
            <span class="sForm__label">{{this.name}}</span>
          </label><!--/.sForm__item-->
          {{/each}}

          {{#each indicators.other}}
          <label class="sForm__item sForm__item--checkbox">
            <input class="sForm__checkbox visually-hidden" type="checkbox" name="indicator" value="{{this.id}}">
            <span class="sForm__label">{{this.name}}</span>
          </label><!--/.sForm__item-->
          {{/each}}

        </div><!--/.sForm__linear-->

      </div><!--/.sForm__inner-->

    </form><!--./sForm-->

  </div><!--./modal__inner-->

  <div class="sD-flex sF-justify-content-between sPr-16">
    <button class="sForm__button btn btn--green" type="submit" form="form-collation">Сформировать</button>
    <button class="sForm__button btn" type="reset" form="form-collation">Сбросить</button>
  </div><!--/.sForm__item-->

  <button type="button" class="sModal__close" data-sumbiot-modal-close title="Закрыть окно"></button>

</section><!--./modal-->

<section class="sModal sModal--fixed sModal--collation-result" id="modal--collation-result" data-sumbiot-overlay="true" data-sumbiot-overflow="true" data-sumbiot-modal="1">

  <div class="sModal__inner">

    <div class="sModal__scroll">

      <button type="button" class="sModal__close" data-sumbiot-modal-close title="Закрыть окно"></button>

    </div>

  </div><!--./modal__inner-->

</section><!--./modal-->
