<section class="select">
  <h2 class="visually-hidden">Выбор единиц времени</h2>

  <div class="sContainer-fluid">

    {{#ifpage 'indicators'}}
      <form class="select__row sForm" id="form-indicator" method="POST">
    {{/ifpage}}

    {{#ifpage 'edit-indicators'}}
      <form class="select__row sForm" id="form-edit-indicator" method="POST">
    {{/ifpage}}

      <div class="select__col {{#ifpage 'indicators'}} js-loader {{/ifpage}}">

        {{#ifpage 'indicators'}}
        <div class="sForm__inner inner">

          <div class="sForm__item">
            <label class="sForm__label" for="year">Год</label>
            <select class="sForm__select js-select2" name="year" id="year">
              {{#each unit.year}}
                <option class="sForm__option" value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div><!--/.sForm__item-->

          <div class="sForm__item">
            <label class="sForm__label" for="month">Месяц</label>
            <select class="sForm__select js-select2" name="month" id="month">
              {{#each unit.month}}
                <option class="sForm__option" value="{{this.n}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div><!--/.sForm__item-->

        </div><!--/.inner-->
        {{/ifpage}}

        {{#ifpage 'edit-indicators'}}
        <div class="sForm__inner inner">

          <div class="sForm__item">
            <label class="sForm__label" for="division">Дивизион</label>
            <select class="sForm__select js-select2" name="division" id="division">
              {{#each unit.division}}
              <option class="sForm__option" value="{{this.n}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div><!--/.sForm__item-->

          <div class="sForm__item">
            <label class="sForm__label" for="year">Год</label>
            <select class="sForm__select js-select2" name="year" id="year">
              {{#each unit.year}}
              <option class="sForm__option" value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
          </div><!--/.sForm__item-->

        </div><!--/.inner-->
        {{/ifpage}}

      </div><!--/.select__col-->

      <div class="select__col {{#ifpage 'edit-indicators'}} select__col--pt {{/ifpage}}">

        {{#ifpage 'indicators'}}
          <div class="inner">

            <ul class="inner__list">
              <li class="inner__item">
                <b class="inner__title">Актуальная дата:</b> 22.11.2023
              </li>
              <li class="inner__item">
                <b class="inner__title">Категория:</b> ФН Экономика, Финансы, Учёт
              </li>
              <li class="inner__item">
                <b class="inner__title">Ответственный за ДВУ:</b> Москательникова К.В.
              </li>
              <li class="inner__item">
                <b class="inner__title">Контакт по безопасности:</b> Пн / Вт / Ср / Чт /  Пт
              </li>
            </ul>

          </div><!--/.inner-->
        {{/ifpage}}

        {{#ifpage 'edit-indicators'}}
          <div class="sForm__inner inner inner--pt">

            <div class="sForm__item">
              <label class="sForm__label" for="indicator">Показатель</label>
              <select class="sForm__select js-select2" name="indicator" id="indicator">
                {{#each indicators.basic}}
                  <option class="sForm__option" value="{{this}}">{{this}}</option>
                {{/each}}
                {{#each indicators.other}}
                  <option class="sForm__option" value="{{this}}">{{this}}</option>
                {{/each}}
              </select>
            </div><!--/.sForm__item-->

            <div class="sForm__item">
              <label class="sForm__label" for="type">Тип</label>
              <select class="sForm__select js-select2" name="type" id="type">
                <option class="sForm__option" value="type">Цель</option>
                <option class="sForm__option" value="type">День</option>
              </select>
            </div><!--/.sForm__item-->

          </div><!--/.inner-->
        {{/ifpage}}

      </div><!--/.select__col-->

    </form><!--/.select__row-->

  </div><!--/.container-fluid-->
</section><!--/.select-->
