@use "../variables" as v;

.accordion {
  position: relative;

  border-bottom: 1px solid rgba(v.$black, 0.5);

  &::before,
  &::after {
    content: '';

    position: absolute;
    top: 13px;
    left: 0;

    width: 1px;
    height: calc(100% - 13px);

    background-color: rgba(v.$black, 0.5);
  }

  &::after {
    left: auto;
    right: 0;
  }

  .table {
    margin: 0 12px 6px 12px;
  }

  .indicator {

    &[class*="-120"] {
      .indicator__name {
        padding: 24px 5px 24px 5px;
      }
    }

    &--header {
      .indicator__unit {
        padding: 42px 0 41px 0;
      }
    }
  }

  .indicator__title {
    line-height: 24px;
  }

  .indicator__unit {
    line-height: 16px;
  }

  .indicator__name {
    line-height: 16px;
  }

  .indicator__value {

  }
}

.accordion__head {
  position: relative;

  padding: 0 0 0 35px;
  margin: 0 0 10px 0;

  font-weight: 500;
  font-size: 13px;

  line-height: 14px;

  text-transform: capitalize;

  color: v.$black;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    height: 1px;

    background-color: rgba(v.$black, 0.5);

    transform: translateY(-50%);
  }

  span {
    user-select: none;

    position: relative;

    display: inline-block;

    min-width: 73px;

    padding: 4px 5px;

    background: #F5F5F5;

    text-align: center;

    border: 1px solid rgba(v.$black, 0.5);

    border-radius: 2px;

    cursor: pointer;

    &::before {
      content: '';

      width: 14px;
      height: 14px;

      position: absolute;
      top: 50%;
      left: -20px;

      background-color: #343434;
      background-image: url('../img/plus-icon.svg');
      background-position: center;
      background-size: 6px;
      background-repeat: no-repeat;

      border-radius: 2px;

      transform: translateY(-50%);
    }

  }

  &.active {
    span {
      &::before {
        background-image: url('../img/minus-icon.svg');
      }
    }
  }
}

.accordion__block {

}
