@use "sass:color";

@use "../variables" as v;

.btn {
  display: inline-block;
  vertical-align: middle;

  padding: 12px;
  margin: 0;

  background-color: #FFFFFF;

  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;
  text-align: center;

  border: 1px solid rgba(v.$black,0.25);
  border-radius: 4px;

  box-shadow: inset 0 0 1.5px 1.5px rgba(v.$black, 0.25);

  user-select: none;

  cursor: pointer;

  transition: all 0.2s ease;

  &:hover {
    background-color: color.scale(v.$white, $lightness: -1%);

    box-shadow: inset 0 0 2px 1px color.scale(v.$white, $lightness: -10%);

  }

  &:active {
    background-color: color.scale(v.$white, $lightness: -2%);

    box-shadow: inset 0 0 3px 4px color.scale(v.$white, $lightness: -8%);

  }

  &--green {
    background-color: rgba(45, 255, 0, 0.20);

    &:hover {
      background-color: color.scale(rgba(45, 255, 0, 0.20), $lightness: -1%);

      box-shadow: inset 0 0 2px 1px color.scale(rgba(45, 255, 0, 0.20), $lightness: -10%);
    }

    &:active {
      background-color: color.scale(rgba(45, 255, 0, 0.20), $lightness: -2%);

      box-shadow: inset 0 0 2px 3px color.scale(rgba(v.$black, 0.10), $lightness: -8%);
    }
  }

  &.sActive {
    background-color: color.scale(v.$white, $lightness: -2%);

    box-shadow: inset 0 0 4px 2px rgba(77, 131, 211,0.20);
  }
}

.btn__svg {
  pointer-events: none;

  display: block;

  fill: #303030;
}
