@use "../variables" as v;

.content {

}

.content__inner {

}

.content__title {
  margin: 0 0 32px 0;
}

.content__box {
  margin: 0 0 32px 0;
}

.content__subtitle {
  padding: 0 0 0 24px;
  margin: 0 0 24px 0;

  font-size: 20px;

  color: v.$black;

  text-shadow: none;
}
