@use "../variables" as v;

.logo {
  user-select: v.$select;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  position: relative;
  z-index: 1;

  &::before {
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: -1;

    background-color: #FAFAFA;

    border-radius: 0 0 4px 0;

    box-shadow: 2px 4px 4px 0 rgba(v.$black,0.25);
  }

  &--footer{
    &::before {
      border-radius: 4px 0 0 0;

      box-shadow: -2px -3px 5px 0 rgba(v.$black,0.25);
    }
  }
}

.logo__img {
  display: block;

  filter: drop-shadow(0 2px 2px rgba(v.$black,0.05));
}
