@use "sass:color";

@use "../variables" as v;

.sModal {
  padding: 86px 120px 80px 30px;

  background-color: rgba(29, 31, 40, 0.65);
  backdrop-filter: blur(1.5px);

  &--option {
    display: none;
    grid-template-columns: max-content;
    align-content: start;

    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right:auto;

    padding: 16px 0 25px 16px;

    background-color: #FFF;
    background-image: linear-gradient(180deg, rgba(#FFFBF4,0.5) 0%, #FFF 63.02%);

    border: 1px solid rgba(v.$black,0.3);
    border-radius: 4px;

    box-shadow: -1px 12px 13px -2px rgba(v.$black, 0.60);

    &:before {
      content: '';

      width: 0;
      height: 0;

      position: absolute;
      z-index: -10;

      border: solid transparent;
      border-width: 7px 0 7px 12px;
      border-left-color: rgba(#000, 1);

      filter: drop-shadow(1px 0 1px rgba(v.$black,0.8));

      opacity: 0.5;
    }

    .sModal__title {
      font-size: 18px;

      margin: 0 0 16px 0;

      color: v.$black;
    }

    .sModal__inner {
      max-height: 520px;
      overflow-y: auto;

      padding: 0 16px 0 0;
      margin: 0;

      background-color: transparent;

      border: 0;
      border-radius: 4px;

      box-shadow: none;

      // Кнопки боковые
      &::-webkit-scrollbar-button {
        width: 5px;
        height: 0;
      }

      // Цвет дорожки, по которой двигается бегунок прокрутки.
      &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0.1);
        border-radius: 5px;
      }

      // Цвет бегунка полосы, а так же его закругление.
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);
      }

      // Основная ширина полосы прокрутки.
      &::-webkit-scrollbar {
        width: 5px;
      }
    }

    .sModal__close {
      width: 22px;
      height: 22px;

      top: 18px;
      right: 16px;

      background-size: 10px;
    }
  }

  &--filter {
    top: -20px;
    right: 89px;

    &::before {
      top: 42px;
      right: -16px;
    }
  }

  &--quick{
    top: -104px;
    right: 89px;

    &::before {
      top: 122px;
      right: -16px;
    }
  }

  &--collation {
    top: -189px;
    right: 89px;

    &::before {
      top: 210px;
      right: -16px;
    }
  }

  &--quick-result {
    user-select: auto;

    justify-content: center;
    align-content: center;

    z-index: 0;

    .sModal__title {
      user-select: none;

      max-width: none;

      margin: 12px 0 0;

      font-weight: 600;
      font-size: 13px;

      line-height: 13px;

      color: rgba(v.$black, 1);

      text-align: center;
    }
  }

  &--collation-result {
    user-select: auto;

    z-index: 0;

    padding-bottom: 20px;

    .sModal__inner {
      overflow-y: auto;
      padding: 12px;

      // Кнопки боковые
      &::-webkit-scrollbar-button {
        width: 8px;
        height: 0;
      }

      // Цвет дорожки, по которой двигается бегунок прокрутки.
      &::-webkit-scrollbar-track {
        background-color: rgba(0,0,0,0.1);
        border-radius: 8px;
      }

      // Цвет бегунка полосы, а так же его закругление.
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background-color: rgba(0,0,0,0.1);
      }

      // Основная ширина полосы прокрутки.
      &::-webkit-scrollbar {
        width: 8px;
      }
    }

    .sModal__close {
      top: 15px;
      right: 23px;
    }
  }
}

.sModal__inner {
  max-width: none;

  padding: 37px 45px 18px 45px;

  border-radius: 2px;
  box-shadow: none;
}

.sModal__title {
  font-size: 16px;

  text-transform: uppercase;
  text-align: left;
}

.sModal__close {
  width: 22px;
  height: 22px;

  top: 10px;
  right: 16px;

  background-size: 10px;

  background-color: #FFFFFF;

  border: 1px solid rgba(v.$black,0.25);
  border-radius: 2px;

  box-shadow: inset 0 0 1px 1px rgba(v.$black, 0.25);

  transition: all 0.2s ease;

  &:hover {
    background-color: color.scale(v.$white, $lightness: -1%);

    box-shadow: inset 0 0 1px 0 color.scale(v.$white, $lightness: -10%);
  }

  &:active {
    background-color: color.scale(v.$white, $lightness: -2%);

    box-shadow: inset 0 0 1px 2px color.scale(v.$white, $lightness: -8%);
  }
}
