
.page {
  height: 100%;

}

.page__body {
  overflow-x: hidden;

  min-height: 100%;

  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  align-content: start;
}

.page__main {

  &--index {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
