@use "select2/dist/css/select2.min"; //-> кастомные селекты (подключение стилей библиотеки select2 из node_modules)

@use "../variables" as v;

.sSelect {
  padding: 10px 0;

  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
}

.select2-container .select2-selection--single{
  height: 50px;
}

.select2-selection__arrow {
  height: 50px !important;

  right: 8px !important;
}

.select2-selection__rendered {
  padding: 0 40px 0 16px !important;
}

.select2-results__option--highlighted{
  background-color: rgba(v.$black,0.1)!important;

  color: v.$black !important;

  transition: all 0.1s ease;
}

.sSelect-dropdown {
  top: 1px;

  box-shadow: inset 0 0 3px 0 rgba(v.$black,0.1);

  font-family: Arial, sans-serif;
  font-size: 16px;

  .select2-results__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.select2-results__options{

  // Кнопки боковые
  &::-webkit-scrollbar-button {
    width: 5px;
    height: 0;
  }

  // Цвет дорожки, по которой двигается бегунок прокрутки.
  &::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.05);
  }

  // Цвет бегунка полосы, а так же его закругление.
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.1);
  }

  // Основная ширина полосы прокрутки.
  &::-webkit-scrollbar {
    width: 10px;
  }

}

.select2-results__option--selectable {
  padding: 8px 16px;

  border-right: 1px solid rgba(v.$black,0.1);
  border-bottom: 1px solid rgba(v.$black,0.1);
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px;

  box-shadow: 0 4px 8px -2px rgba(v.$black,0.2);
}

.select2-search__field {
  outline: none;

  padding: 8px 12px!important;
}

.select2-results__message {
  padding: 9px 16px;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: v.$white !important;
}
